#gerp {
	margin-left:15%;
}

#afacts {
	margin-left:22%;
}

#nocgoot {
	margin-left:20% ;
}

#guitar {
    margin-left:10%;
}

#games {
	margin-left:11%;
}

#watches {
	margin-left:27%;
}

#lhs {
	margin-left:39%;
}

#tufts {
	margin-left:32%;
}