body {
	text-align: center;
	background-color: white;
	background-image: url("jumbo.jpeg");
	background-repeat: no-repeat;
	background-position: 50% 165%;
}

#name
{
	font-weight: bold;
	color: black;
	font-size:30px;
}

.pic
{
max-width:15%;
max-height:15%;
}

#resume
{
	font-size: 18px;
	font-family: Arial;
}

#biography
{
	font-size: 16px;
	font-family: Arial;
}# jonghoonlee98.github.io
