body {
	font-family:Julius Sans One;
	background-color: white;
	background: url("rolling.jpg");
	background-repeat: no-repeat;
	background-position: 0 -8%;
	background-size: 100%;
}

#name {
	font-size:270%;
	padding-left: 8%;
}

#about {
	position:absolute;
	font-size: 155%;
	padding-left: 65.5%;
	padding-top: -4%;
}

#projects {
	position:absolute;
	font-size: 155%;
	padding-left: 73%;
	padding-top: -4%;
}

#resume {
	position:absolute;
	font-size: 155%;
	padding-left: 82%;
	padding-top: -4%;
}

#contact {
	position:absolute;
	font-size: 155%;
	padding-left: 90%;
	padding-top: -4%;	
}

a {
	color:black;
	text-decoration: none;
}
