@media only screen and (max-width: 500px) {
    html {
        background: url("images/background1.jpg") no-repeat center center fixed !important; 
    }
    #files {
        margin-left:11% !important;
    }
    #sub1 {
        display:none !important;
    }
    #sub3 {
        width:100% !important;
        display:none;
    }
    #window {
        width:99% !important;
        height:99.5% !important;
        position: fixed !important; 
        top: 0 !important; 
        left: 0 !important;
    }
    #close {
        margin-left:91% !important;
        margin-top:1% !important;
    }
    #sub2 {
        width:100% !important;
    }
    .sub2folder {
        width:100% !important;
    }
}


@media only screen and (max-width: 400px) {
    #window {
        width:98.2% !important;
        height:99.2% !important;
    }
    #files {
        margin-left:6% !important;
    }
    #close {
        margin-left:90% !important;
    }
}

@media only screen and (max-width: 350px) {
    html {
        background: url("images/background1.jpg") no-repeat center center fixed !important; 
    }
    #close {
        margin-left:89% !important;
    }
    #files {
        margin-left:11% !important;
    }
    .file {
        width:80px !important;
        height:80px !important;
        font-size:15px !important;
        background-position: 0px 0px !important;
        padding-right:20px !important;
        padding-top:65px !important;
    }
    #github {
        background-position: -8px -8px !important;
        padding-top:-3px !important;
    }
    #ig {
        background-position: 7px 2px !important;
        padding-right:20px !important;
    }
    #linkedin {
        background-position: -4px -4px !important;
    }
    #resume {
        background-position:0px 0px !important;
    }
    #gamepic {
        width:300px !important;
    }
    #guitarpic {
        width:300px !important;
    }
}