@media only screen and (max-width: 500px) {
    html {
        background: url("images/backgroundmobile.jpg") no-repeat center center fixed !important; 
    }
    #sub1 {
        display:none !important;
    }
    #sub3 {
        width:100% !important;
        display:none;
    }
    #window {
        width:99% !important;
        height:99.5% !important;
        position: fixed !important; 
        top: 0 !important; 
        left: 0 !important;
    }
    #terminalwindow {
        width:99.75% !important;
        position: fixed !important; 
        top: 0 !important; 
        left: 0 !important;
    }
    #terminalinput {
        height:100vh !important;
    }
    #closeterminal {
        margin-left:32.5% !important;
    }
    #close {
        margin-left:91% !important;
        margin-top:1% !important;
    }
    #back {
        /*display:inline !important;*/
        margin-left:84% !important;
    }
    #sub2 {
        width:100% !important;
    }
    .sub2folder {
        width:100% !important;
    }
}


@media only screen and (max-width: 400px) {
    #window {
        width:98.2% !important;
        height:99.2% !important;
    }
    #close {
        margin-left:90% !important;
    }
    #closeterminal {
        margin-left:30% !important;
    }
    #back {
        margin-left:82% !important;
    }
}

@media only screen and (max-width: 350px) {
    #files {
      position:fixed;
      transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9); /* IE 9 */
      -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
      -o-transform: scale(0.9, 0.9); /* Opera */
      -moz-transform: scale(0.9, 0.9); /* Firefox */
    }
    #closeterminal {
        margin-left:28% !important;
    }
}