body {
    max-width: 100%;
    overflow-x: hidden;
	margin:0;
  	padding:0;
	font-family: Julius Sans One;
	background-color: #F2F0F0;
	background: url("images/rolling.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100vw;
	position: relative;
	width: 100vw;
}

#header {
	width:100vw;
	border-bottom-style:solid;
	border-bottom-width:0.05vw;
	border-color:black;
	height:3.1vw;
	background-color:white;
	position:fixed;
	margin-top:-3vw;
	padding-top:.8vw;
}

#name {
	font-size: 2.4vw;
	margin-left: 5.5vw;
	display: inline;
}

#info {
    white-space: nowrap;
    overflow: hidden;
	color: 	#778899;
	margin-left:52vw;
	margin-top:0.5vw;
	font-size:1.5vw;
	position:absolute;
}

#contact {
	margin-left: 0.8vw; 
}

#resume {
	margin-left: 0.8vw; 
}

#projects {
	margin-left: 0.8vw; 
}

#about {
	margin-left: 0.8vw; 
}

.sections {
	color: 	#778899;
	text-decoration: none;
}

.quote {
	text-align: center;
	padding-top: 6vw;
	font-size: 3.8vw;
}

.ampersand {
	color: #808000;
}

#aboutInfo {
	width:100vw;
	background-color: white;
	font-size:4vw;
	text-align: center;
	margin-top: 44vw;
}

.line {
	margin-top: -5vw;
	color: grey;
}

#picture {
	margin-top: -25px;
	height:15vw;
}

#bio {
	font-family: "Times New Roman";
	font-size:1.6vw;
}

#contactInfo {
	color:white;
	background-color:black;
	width:100vw;
	font-size:4vw;
	text-align: center;
	margin-top: 6vw;
	padding-top: 0.01vw;
}

#copyright {
	font-family: "Times New Roman";
	font-weight: 5vw;
	text-align:center;
	width:100vw;
	background-color:#DCDCDC;
	padding-bottom: 1vw;
	padding-top: 1vw;
	margin-top: -4vw;
}