body {
    overflow-x: hidden;
	margin:0;
  	padding:0;
	font-family: "Julius Sans One";
	position: relative;
	width: 100vw;
}

#header {
	z-index:1;
	margin:0;
  	padding:0;
	width:100vw;
	border-bottom-style:solid;
	border-bottom-width:0.05vw;
	border-color:black;
	height:4.3vw;
	position:fixed;
	background-color: white;
}

#logo {
	height:4.3vw;
	width:5.3vw;
	margin-bottom:-1.3vw;
}

#name {
	margin:0;
  	padding:0;
	font-size: 2.4vw;
	margin-left: 1vw;
	display: inline;
}

#info {
	margin:0;
  	padding:0;
    white-space: nowrap;
    overflow: hidden;
	color: 	#778899;
	margin-left:68.5vw;
	margin-top:-2.1vw;
	font-size:1.5vw;
	position:absolute;
}

#contact {
	margin-left: 0.8vw; 
}

#resume {
	margin-left: 0.8vw; 
}

#projects {
	margin-left: 0.8vw; 
}

#about {
	margin-left: 0.8vw; 
}

.sections {
	color: 	#778899;
	text-decoration: none;
}

#quote {
	text-align: center;
	font-size: 3.8vw;
	background: url("images/trie.png");
	background-repeat: no-repeat;
	background-size:23vw;
	margin-left:40vw;
	height:50vw;
	background-position: 0 0;
}

#downarrow {
	height:2vw;
	width:2vw;
	margin-left: 50vw;
	margin-bottom: -30vw;
}

.ampersand {
	color: #808000;
}

#welcomepage {
	background: url("images/rolling.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100vw;
	height:50vw;
	border-bottom-style:solid;
	border-bottom-width:0.05vw;
	border-color:black;
	padding-top:1vw;
}

#aboutInfo {
	font-family:"Indie Flower";
	margin:0;
  	padding:0;
	width:100vw;
	text-align: center;
	font-size:2vw;
	padding-top: 0.1vw;
	background-color:#DFF5F2;
}

#bio {
	font-family: "Indie Flower";
	font-size:1.5vw;
	width: 60vw;
	margin-left:18vw;
}

#contactInfo {
	font-family:"Indie Flower";
	margin:0;
  	padding:0;
	color:black;
	background-color:#2F9296;
	width: 100vw;
	font-size: 2vw;
	text-align: center;
	margin-top:0vw;
	padding-top: 0.1vw;
	padding-bottom:2vw;
}

#githubicon {
	display:inline;
	height:7vw;
	width:7vw;
}

#instagramicon {
	display:inline;
	height:7vw;
	width:7vw;
}

#linkedinicon {
	display:inline;
	height:5.6vw;
	width:5.6vw;
	margin-left:0.5vw;
	margin-bottom:0.6vw;
}

#copyright {
	margin:0;
  	padding:0;
	font-family: "Times New Roman";
	text-align:center;
	width:100vw;
	padding-bottom:0.1vw;
	margin-top:-3.5vw;
	background-color:#87DFD6;
	font-size:1.0vw;
}
